.somatic-dropdown {
    padding: 4px 8px;
    border: 1px solid var(--vscode-input-border, #3c3c3c);
    background-color: var(--vscode-input-background, #3c3c3c);
    color: var(--vscode-input-foreground, #cccccc);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    min-width: 100px;
}

.somatic-dropdown:hover:not(:disabled) {
    background-color: var(--vscode-input-background, #404040);
}

.somatic-dropdown:focus {
    outline: 1px solid var(--vscode-focusBorder, #007acc);
    outline-offset: -1px;
}

.somatic-dropdown:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.somatic-dropdown option {
    background-color: var(--vscode-dropdown-background, #3c3c3c);
    color: var(--vscode-dropdown-foreground, #cccccc);
}

.somatic-dropdown option:disabled {
    color: var(--vscode-disabledForeground, #656565);
}
