.integer-up-down {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--vscode-input-border);
    /* border-radius: 4px; */
    overflow: hidden;
}

.integer-up-down__input {
    width: 40px;
    border: none;
    padding: 4px 8px;
    font-size: var(--ff-size-1x);
    text-align: center;
    outline: none;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.integer-up-down__input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.integer-up-down.integer-up-down--invalid input {
    border-color: var(--vscode-inputValidation-errorBorder);
    background-color: var(--vscode-inputValidation-errorBackground);
}
/* Numeric (float) up-down styles */
.numeric-up-down {
    width:100%; /* for prop controls to fill value space */
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--vscode-input-border);
    overflow: hidden;
}

.numeric-up-down__input {
    /* width: 60px; */
    flex:1; /* fill available space */
    border: none;
    padding: 4px 8px;
    font-size: var(--ff-size-1x);
    text-align: center;
    outline: none;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.numeric-up-down__input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.numeric-up-down.numeric-up-down--invalid input {
    border-color: var(--vscode-inputValidation-errorBorder);
    background-color: var(--vscode-inputValidation-errorBackground);
}

/* Text input styles */
.text-input__input {
    flex: 1;
    border: 1px solid var(--vscode-input-border);
    padding: 4px 8px;
    font-size: 12px;
    outline: none;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
}

.text-input__input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.text-input__input:focus {
    outline: 1px solid var(--vscode-focusBorder);
}
