.tab-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.tab-header {
    border-bottom: 2px solid var(--button-background-highlighted);
    /* background: var(--button-background-enabled); */
    padding: 0;
}

.tab-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
}

.tab-header-root {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    border-right: 1px solid var(--border);
    background: var(--button-background-enabled);
    color: var(--button-foreground-enabled);
    min-width: 80px;

    --button-border-radius: 6px;
}

/* first tab has rounded left corners */
.tab-header-root:first-child {
    border-top-left-radius: var(--button-border-radius);
    margin-left: 18px;
}

/* last tab has rounded right corners */
.tab-header-root:last-child {
    border-top-right-radius: var(--button-border-radius);
}

.tab-header-root:hover {
    background: var(--button-background-hovered);
    color: var(--button-foreground-hovered);
}

.tab-header-selected {
    background: var(--button-background-highlighted);
    color: var(--button-foreground-highlighted);
}

.tab-header-selected:hover {
    background: var(--button-background-highlighted);
    color: var(--button-foreground-highlighted);
}

.tab-header-notselected {
    /* opacity: 0.5; */
}

.tab-header-notselected:hover {
    /* opacity: 1; */
}

.tab-header-l2 {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    /* width: 100%; */
    flex: 1;
}

.tab-expanded {
    padding: 8px;
}