.pp-root {
    /* establish variables at controls root */
    --cs-pp-control-label-width: 150px;
    --cs-pp-control-column-width: 400px;
}

.pp-root .cs-pp-control-column {
    display:flex;
    flex-direction: column;
    gap: 12px;
    width: var(--cs-pp-control-column-width);
}

.pp-root .cs-pp-control-column .cs-pp-control-column-content {
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.pp-root .cs-pp-control-row {
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.pp-root .cs-pp-control-row .cs-pp-control-row-content {
    display:flex;
    flex-direction: row;
    gap: 8px;
}

.cs-pp-control-shell {
    display: flex;
    padding:3px; /* we will use the background as a fake "border"; padding indicates the border thickness */
    box-sizing: border-box; /* include padding in width */
    border: 1px solid transparent; /* var(--vscode-panel-border); */
    background-color: transparent;
    position:relative; /* allow floating tool controls */
}

.cs-pp-control-shell .cs-pp-control-shell-inner{
    display: flex;
    flex-direction: column;
    flex:1; /* fill space to make sure the fake border effect is consistent */
    background-color: var(--vscode-editor-background); /* cancel out the outer background to create border effect */
}

.cs-pp-control-shell:hover {
    /* border-color: var(--vscode-focusBorder); */
    border-color: var(--vscode-panel-border);
    
}

.cs-pp-control-shell-labelvaluerow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cs-pp-control-shell-label {
    width: var(--cs-pp-control-label-width);
    font-size: 12px;
    color: var(--vscode-descriptionForeground);
    padding-left:4px;
}

.cs-pp-control-shell-value {
    flex: 1;
    display: flex;
    gap: 8px;
    align-items: center;
}

.cs-pp-control-shell-value:hover {
    /* background-color: var(--vscode-inputOption-activeBackground); */
}


/* 
    --vscode-inputValidation-infoBackground: #063b49;
    --vscode-inputValidation-infoBorder: #007acc;
    --vscode-inputValidation-warningBackground: #352a05;
    --vscode-inputValidation-warningBorder: #b89500;
    --vscode-inputValidation-errorBackground: #5a1d1d;
    --vscode-inputValidation-errorBorder: #be1100;

    --vscode-editorError-foreground: #f14c4c;
    --vscode-editorWarning-foreground: #cca700;
    --vscode-editorInfo-foreground: #59a4f9;
 */

.cs-pp-control-shell .cs-pp-control-shell-binding-status,
.cs-pp-control-shell .cs-pp-control-shell-validation-status {
    display:flex;
    justify-content: flex-end;
}


.cs-pp-control-shell.cs-pp-control-shell-binding-status-error .cs-pp-control-shell-binding-status,
.cs-pp-control-shell.cs-pp-control-shell-validation-error .cs-pp-control-shell-validation-status {
    color: var(--vscode-editorError-foreground);
}


.cs-pp-control-shell.cs-pp-control-shell-binding-status-warning .cs-pp-control-shell-binding-status,
.cs-pp-control-shell.cs-pp-control-shell-validation-warning .cs-pp-control-shell-validation-status {
    color: var(--vscode-editorWarning-foreground);
}


.cs-pp-control-shell.cs-pp-control-shell-binding-status-info .cs-pp-control-shell-binding-status,
.cs-pp-control-shell.cs-pp-control-shell-validation-info .cs-pp-control-shell-validation-status {
    color: var(--vscode-editorInfo-foreground);
}

.cs-pp-control-page,
.cs-pp-control-column {
    position:relative;
}
 

.cs-pp-control-page-label
{
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
    margin-bottom: 2px;
}

.cs-pp-design-tools {
    position:absolute;
    top:3px;
    right:3px;
    opacity: 0;
}
/* 
.cs-pp-control:hover:not(:has(.cs-pp-control:hover)) .cs-pp-design-tools {
    opacity: 100%;
} */

/* 1) show tools for the deepest hovered control-column */
.cs-pp-control:hover:not(:has(.cs-pp-control:hover))
  .cs-pp-design-tools {
  opacity: 1;
  pointer-events: auto;
}

/* 2) but don't cross a nested .cs-pp-control-column boundary */
.cs-pp-control:hover:not(:has(.cs-pp-control:hover))
  .cs-pp-control
  .cs-pp-design-tools {
  opacity: 0;
  pointer-events: none;
}


.cs-pp-control:hover:not(:has(.cs-pp-control:hover))
 {
  background-color: var(--vscode-settings-rowHoverBackground);
}

/* 2) but don't cross a nested .cs-pp-control-column boundary */
.cs-pp-control:hover:not(:has(.cs-pp-control:hover))
  .cs-pp-control{
    background-color: transparent;
}
