.pp-root {
    /* establish variables at controls root */
    --cs-pp-control-label-width: 150px;
    --cs-pp-control-total-width: 400px;
}

.pp-root .cs-pp-control-column {
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.pp-root .cs-pp-control-column .cs-pp-control-column-content {
    display:flex;
    flex-direction: column;
    gap: 4px;
}

.pp-root .cs-pp-control-row {
    display:flex;
    flex-direction: column;
    gap: 12px;
}
.pp-root .cs-pp-control-row .cs-pp-control-row-content {
    display:flex;
    flex-direction: row;
    gap: 8px;
}

.cs-pp-control-shell {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: var(--cs-pp-control-total-width);
    /* border: 1px solid #f00;
    background-color: #0ff; */
    border: 2px solid transparent;
    padding:3px;
}


.cs-pp-control-shell:hover {
    border-color: var(--vscode-focusBorder, var(--accent));
}

.cs-pp-control-shell-labelvaluerow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cs-pp-control-shell-label {
    width: var(--cs-pp-control-label-width);
    font-size: 12px;
    color: var(--vscode-descriptionForeground);
}

.cs-pp-control-shell-value {
    flex: 1;
    width: var(--cs-pp-control-total-width);
    display: flex;
    gap: 8px;
    align-items: center;
}

.cs-pp-control-shell-value:hover {
    background-color: var(--vscode-inputOption-activeBackground);
}